---
layout: home
title: Home
description: Just like <em>every</em> other parachurch tech company we passionately believe that the church is most effective when the details are taken care of so the church can focus on its mission.
catch: So what makes us different?<br /><strong>Pretty much everything else.</strong>
---
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h2>Generosity</h2>
  </div>
  <div class="col-md-offset-1 col-md-10 mobile-banner">
    <p class="lead">We believe that having a kickass church infrastructure shouldn't have to cost a pound of flesh.</p>
  </div>
  <div class="col-md-offset-1 col-md-10 reason">
    <p>In fact we think it should be as cheap as you can afford. That's why all of our plugins are available for nothing, as free as the air you breathe, on Github as well as for purchase on the Rock Store. In fact generosity is such a driving fact in the way we do business we give <strong>50%</strong> of our net-income to the <a href="http://www.sparkdevelopmentnetwork.org/">Spark Development Network</a> to fund the development of Rock. Oh and our <a class="rates" href="#do">rates</a> are pretty good too.</p>
    <a href="#do" class="btn btn-mobile-primary btn-md rates">See How Much it Costs for Consultancy</a>
  </div>

  <div class="col-md-offset-1 col-md-10">
    <h2>Open Source</h2>
  </div>
  <div class="col-md-offset-1 col-md-10 mobile-banner-alt">
    <p class="lead">Did we mention all of our projects are on Github? </p>
  </div>
  <div class="col-md-offset-1 col-md-10">
    <p>We believe in open source, it's one of the reasons we love Rock so much. All of our plugins are licensed under the Apache 2.0 license meaning you are free to peek under the hood at the code, alter it, and even distribute it yourself. Open source means you can rest easy knowing you can't ever be held to ransom by closed code.</p>
    <a href="{{site.github.url}}/plugins.html" class="btn btn-mobile-secondary btn-md">Check Out Our Plugins</a>
  </div>
</div>

<hr />
<div class="row">
  <div class="col-md-12">
    <h1><a id="do">What We Do</a></h1>
  </div>
  <div class="col-md-6 do">
    <i class="fa fa-code-fork fa-3x"></i>
    <h3>Custom Development</h3>
    <p>We produce plugins for sale in the Rock Store ranging from Slack integration to custom communication components. In addition, if you've got a need that isn't quite met by Rock or any existing plugins on the market we may just be the <strike>droids</strike> help you're looking for.</p>
  </div>
  <div class="col-md-6 do">
    <i class="fa fa-comments fa-3x"></i>
    <h3>Consultancy</h3>
    <p>Figuring out where to start with Rock can be hard. We've been there since pre-1.0 and we gotten several <span id="tshirts">Rock t-shirts</span> along the way. Whether it be a conversation about whether Rock is right for you, initial setup, project planning, post-setup tweaks, advanced configuration, or any combination of buzzwords you can think of we'd like to see if we can help.</p>
  </div>
  <div class="col-md-offset-2 col-md-8 do">
    <i class="fa fa-star fa-3x"></i>
    <h3><a id="rates">Our Promises</a></h3>
    <p>We promise that if we don't feel like a project is a fit for us we won't waste your time, or ours. We don't charge for initial conversations and we won't charge five minute jobs. We promise to be affordable (in real terms) and we promise to be transparent every step of the way.</p>
    <p class="lead">Our typical rate is <br />
      <span class="label label-default rate">£<span id="gbp-rate">30</span> / $<span id="usd-rate">40</span> per hour</span></p>
      <a onclick="toggleForm();" id="formButton" class="btn btn-outline-orange btn-lg interested">Okay, I'm interested.</a>
    </div>

    <div class="col-md-offset-2 col-md-8">
      <form class="form-horizontal hidden" id="contact_form" role="form">
        <div class="form-group has-feedback">
          <div class="col-sm-offset-2 col-sm-8 text-center">
            <p>Send us a message and we'll back in touch. You can use the handy form below or cut out the middleman and email us at <a href="mailto:hello@bricksandmortarstudio.com?Subject=Bricks%20and%20Mortar" target="_top">hello@bricksandmortarstudio.com</a>.</p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <div class="col-sm-2">
            <label for="name" class="control-label text-inverse">Name</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-fw fa-user"></i>
              </span>
              <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
            </div>
          </div>
        </div>
        <div class="form-group has-feedback">
          <div class="col-sm-2">
            <label for="email" class="control-label text-inverse">Email</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope fa-fw"></i>
              </span>
              <input type="email" class="form-control" id="email" name="email" placeholder="you@yourchurch.com">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <label for="msg" class="control-label">Message</label>
          </div>
          <div class="col-sm-8">
            <textarea id="msg" name="msg" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-2 text-left">
            <button id="submit" name="submit" class="btn btn-block btn-primary">Send Message</button>
            <input type="text" id="check" name="check" style="display:none" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <h1 id="me">A bit about me</h1>
      <p class="lead">I'm <a href="https://arranfrance.com">Arran</a> and I'm the one-man 'team' behind Bricks and Mortar.</p>
    </div>
    <div class="col-sm-4 col-sm-push-8">
      <div class="col-sm-12 gravatar-container ">
        <img class="img-responsive img-circle gravatar center-block" src="http://gravatar.com/avatar/646c698b580eb0ee44a7e4a55c33aaec" />
      </div>
      <div class="col-sm-12 twitter">
        <i class="fa fa-twitter fa-lg"></i>@arranf
      </div>
    </div>

    <div class="col-sm-8 col-sm-pull-4 bio">
      <p>I'm a Software Engineering student a Royal Holloway, University of London and a contributor to the <a href="https://github.com/SparkDevNetwork/Rock/commits?author=arranf">core Rock project</a>. I regularly answer questions on the Rock RMS community <a href="http://www.rockrms.com/Rock/Profile/8a196995-78ad-4913-8a16-b020bb6eb457">Q&A</a> and I also maintain and edit the <a href="http://shouldertheboulder.com">Shoulder the Boulder community blog</a>.<br /> You can find out a bit more about my story in this <a href="http://www.rockrms.com/page/470?Item=183">Rock RMS blog post</a>.
        <br />
      </div>




    </div>

    <script>
    $( document ).ready(function() {
      mobileRates();
    });
    </script>
