<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{page.name}} | {{site.name}}</title>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{site.github.url}}/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.github.url}}/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.github.url}}/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.github.url}}/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{site.github.url}}/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.github.url}}/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{site.github.url}}/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{site.github.url}}/favicon-16x16.png" sizes="16x16" />

  <link rel="stylesheet" href="{{site.github.url}}/assets/css/font-awesome.min.css">
  <link href="{{site.github.url}}/assets/css/docs.min.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/style.css" rel="stylesheet">

  <script src="{{site.github.url}}/assets/js/default.js"></script>

</head>

<body>


  <!-- Main navigation
  =========================================== -->
  <header class="back-arrow">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
    <a href="{{site.github.ur}}/plugins.html" ><i class='fa fa-arrow-left fa-2x'></i></a>
  </div>
</div>
</div>
</header>


  <!-- Header
  =========================================== -->
  <div class="bs-docs-masthead" id="content">
    <div class="container">
          <h1 class="home-title">{{page.name}}</h1>
          {% if page.strapline %}
          <h1 class="lead">{{page.strapline}}</h1>
          {% endif %}
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <div class="col-xs-12 col-md-offset-1 col-md-10  text-center">
      <h2 class="text-center">Give It a Go
      </h2>
      {% if page.rockstore %}
        <a href="{{page.rockstore}}" class="btn btn-primary btn-md"><i class="fa fa-download fa-lg"></i> Rock Store</a>
      {% endif %}
      {% if page.documentation %}
        <a href="{{site.github.url}}/{{page.repo}}" class="btn btn-mobile-secondary btn-md"><i class="fa fa-book fa-lg"></i> Documentation</a>
      {% endif %}
      <a id="release" href="" class="btn btn-default btn-md"><i class="fa fa-github fa-lg"></i> Github</a>
    </div>
    <div class="col-md-offset-1 col-md-10 col-xs-12 text-center">
      <h2>About</h2>
      <p>{{page.description}}</p>
      <hr \>
    </div>

    <div class="col-xs-12 col-md-offset-1 col-md-10 text-center" id="changelogcontainer">
    </div>
  </div>
</div>
</div>

  <!-- Footer
  =========================================== -->
  <footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
      <ul class="bs-docs-footer-links muted">
      {% for l in site.footerLinks %}
        <li><a href="{{l.url}}">{{l.title}}</a></li>
      {% endfor %}
      {% assign sorted_pages = site.pages | sort:"name" %}
      {% for p in sorted_pages %}
        {% if p.hide != true and p.title !=  %}
          <li {% if page.title == p.title %}class="active"{% endif %}>
            <a href="{{site.github.url}}{{p.url}}">{{p.title}}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
      <p class="license">This site is <a href="https://github.com/BricksandMortar/bricksandmortar.github.io">open source</a> and is licensed under <a href="{{site.licenseUrl}}" target="_blank">{{site.license}}</a>.</p>
    </div>
  </footer>


  <!-- Async scripts
  =========================================== -->
  <script src="{{site.github.url}}/assets/js/moment_showdown.js"></script>
  <script>
  $( document ).ready(function() {
    var api = "https://api.github.com/repos/BricksandMortar/{{page.repo}}/releases";
    $.getJSON( api)
    .done(function( data ) {
      if (data.length)
      {
        $('#changelogcontainer').prepend('<h2>Changelog</h2>');
        $('#release').attr('href', data[0].html_url);
        contents = '';
        for (i=0;i < data.length && i < 3; i++)
        {
          contents = contents + '<div class="col-xs-12 col-md-offset-1 col-md-10 versionlog" id="versioncontainer' + data[i].id + '"><p class="lead" id="version'+data[i].id+'">';
          if(data[i].name)
            contents = contents + data[i].name;
          else
            contents = contents + data[i].tag_name.replace('v', 'Version ');
          contents = contents + '<br /><small id="changed' + data[i].id + '">' + moment(data[i].published_at).fromNow() + '</small></p>';
          var converter = new showdown.Converter();
          contents = contents + converter.makeHtml(data[i].body) + '</div>';
        }
        $('#changelogcontainer').append(contents);
      }
    });
  });
  </script>

  {% if site.analytics.account and site.analytics.domain %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{site.analytics.account}}', '{{site.analytics.domain}}');
    ga('send', 'pageview');
  </script>
  {% endif %}

</body>
</html>
