<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{site.name}} | {{page.title}}</title>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{site.github.url}}/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.github.url}}/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.github.url}}/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.github.url}}/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{site.github.url}}/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.github.url}}/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{site.github.url}}/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{site.github.url}}/favicon-16x16.png" sizes="16x16" />

  <link rel="stylesheet" href="{{site.github.url}}/assets/css/font-awesome.min.css">
  <link href="{{site.github.url}}/assets/css/docs.min.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/style.css" rel="stylesheet">

  <script src="{{site.github.url}}/assets/js/default.js"></script>

</head>

<body>


  <!-- Main navigation
  =========================================== -->
  <header class="back-arrow">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
    <a href="{{site.github.ur}}/index.html" ><i class='fa fa-arrow-left fa-2x'></i></a>
  </div>
</div>
</div>
  </header>


  <!-- Header
  =========================================== -->
  <div class="bs-docs-masthead" id="content">
    <div class="container">
      <h1 class="home-title">{{page.title}}</h1>
      {% if page.description %}
      <h1 class="lead">{{page.description}}</p>
      {% endif %}
      {% if page.catch %}
      <p class="lead">{{page.catch}}</p>
      {% endif %}
    </div>
  </div>

  {{ content }}


  <!-- Footer
  =========================================== -->
  <footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
      <ul class="bs-docs-footer-links muted">
      {% for l in site.footerLinks %}
        <li><a href="{{l.url}}">{{l.title}}</a></li>
      {% endfor %}
      {% assign sorted_pages = site.pages | sort:"name" %}
      {% for p in sorted_pages %}
        {% if p.hide != true and p.title !=  %}
          <li {% if page.title == p.title %}class="active"{% endif %}>
            <a href="{{site.github.url}}{{p.url}}">{{p.title}}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
      <p class="license">This site is <a href="https://github.com/BricksandMortar/bricksandmortar.github.io">open source</a> and is licensed under <a href="{{site.licenseUrl}}" target="_blank">{{site.license}}</a>.</p>
    </div>
  </footer>


  <!-- Async scripts
  =========================================== -->

  {% if site.analytics.account and site.analytics.domain %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{site.analytics.account}}', '{{site.analytics.domain}}');
    ga('send', 'pageview');
  </script>
  {% endif %}

</body>
</html>
